<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Panel de control</title>
</head>

<body>
  <h1>Bienvenido al panel de control, <%= userId %>
  </h1>

  <h2>contenido</h2>
  <div>
    <% if (adminContent != null) { %>
      <%= adminContent %>
    <% } else if (commonContent != null) { %>
      <%= commonContent %>
    <% } else { %>
      <%= noContent %>
    <% } %>
  </div>

  <p><a href="/logout">Cerrar sesión</a></p>
</body>

</html>