<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Panel de control</title>
</head>

<body>
  <h1>Bienvenido al panel de control, { usuario }

  <p><a href="/logout">Cerrar sesión</a></p>
</body>

</html>